@use 'cores';
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background: lighten(cores.$corDeFundo, 0.5);
    height: 12vh;
    &__nav{
        width: 60%;
        &__links{
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            &__item{
                a{  
                    font-size: calc(1.4vw + 1.4vh);
                    color: cores.$corPrimaria;
                    text-decoration: none;
                    &:hover{
                        color: darken(cores.$corPrimaria, 4);
                        border: none;
                        border-bottom: 3px solid azure;
                    }
                }
            }
        }
    }  

    &__logo{
        width: calc(4.5vw + 1rem);
        padding-top: 0.5rem;
    }
    @media(max-width: 768px){
        &__nav{
            width: 80%;
            &__links{
                &__item{
                    a{  
                        font-size: calc(1vw + 2.4vh);
                    }
                }
            }
        }
        &__logo{
            width: calc(4.5vw + 3rem);
            padding-right: 1vw;
        }
    }
}