@use 'cores';
.historia{
    margin-top: calc(2vw + 2vh);
    margin-left: 3vw;
    color: cores.$corPrimaria;
    &__texto{
        width: 90%;
        margin-top: calc(1vw + 2vh);
        text-align: justify;
        font-size: calc(0.6rem + 0.5vw);
    }
    @media(max-width: 768px){
        text-align: center;
        &__texto{
            width: 70%;
            margin: 0 auto;
        }
    }
}