@use 'cores';
.historia{
    margin-top: calc(2vw + 2vh);
    margin-left: 3vw;
    color: cores.$corPrimaria;
    &__texto{
        width: 90%;
        margin-top: calc(1vw + 2vh);
        text-align: justify;
        font-size: calc(1rem + 0.5vw);
    }
    @media(max-width: 768px){
        padding-top:calc(5vw + 2vh);
        font-size: calc(0.8rem + 1vw);
        &__texto{
            padding-top: 2rem;
            padding-bottom: 2rem;
            width: 95%;
            text-align: justify;
            font-size: calc(1.2rem + 0.5vw);
            margin: 0;
            
        }
    }
}