@use 'cores';
.main{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 88vh;
    background-image: url(../assets/personagens-background/tanjiro.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    @media(max-width: 768px){
        flex-direction: column;
        height: auto;
        background-position-y: 8vw;
        background-size: contain;

    }
}
.personagens{
    &__nav{
        margin-right:3vw;
        margin-top: 8vh;

        &__lista{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            list-style-type: none;
            gap: 4vw;
            white-space: nowrap;
            &__item{
                display: flex;
                flex-direction: column;
                width: 6vw;
                font-size: calc(1vw + 1vh); 
                color: cores.$corSecundaria;
                text-align: center;
                animation: transform 1s ease-in-out; 
                cursor: pointer;
                a{
                    border: 2px solid rgb(86, 88, 94);
                    background-color: cores.$corPrimaria;
                    border-radius: 10px;
                }
                &:hover{
                    transform: scale(1.15); 
                }
                &__personagens--foto{
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
        @media (max-width: 768px) {
            margin: 0;
            &__lista{
                gap: 5vw;
                grid-template-columns: (repeat(4, 1fr));
                justify-items: center;
                margin-top: 10vh;
                &__item{
                    width: 15vw;
                }
            }
    
        }
    }
    &__selecionado{
        img{
          display: block;
          image-rendering: optimizeQuality;
          height: 90%;
          margin: 0 auto;
        }
    }
}
.selecionado{
        width: 50%;
        &__dados{
            display: flex;
            flex-direction: column;
            margin-top: 2vw;
            &__name{
                text-align: center;
                font-size: calc(4vw + 1vh);
                text-shadow: 1px 2px white;
                text-transform: uppercase;
                color: crimson;
            }
            &__respiracao{
                font-size: calc(2.7vw + 2vh);
                text-transform: uppercase;
                padding-top: 40vh;
                padding-left: 2vw;
                color: #c23616;
                font-style: oblique;
                text-shadow: 2px 3px white;
                font-weight: bolder;
                #Respiracao{
                    color: cornsilk;
                    text-shadow: 1px 2px purple;
                    background-image: linear-gradient(120deg, rgb(0, 47, 255), rgb(212, 116, 116));
                    padding: 0.5rem;
                    border: 2px solid #727272;
                    border-radius: 20px;
                }
            }
        }
        @media(max-width: 768px){
            width: 100%;
            &__dados{
                &__name{
                    font-size: calc(3.3vw + 3vh);

                }
                &__respiracao{
                    padding-top: calc(8vw + 10vh + 5rem);
                }
            }
        }
    }