@use 'cores';
.personagens{
    display: flex;
    justify-content: space-between;
    height: 82vh;
    &__nav{
        margin-right: 2.5rem;
        margin-top: 4rem;
        &__lista{
            display: grid;
            grid-template-columns: (repeat(5, 1fr));
            list-style-type: none;
            gap: 3rem;
            text-wrap: nowrap;
            &__item{
                display: flex;
                flex-direction: column;
                width: 4.7rem;
                font-size: 1.15rem;
                color: cores.$corPrimaria;
                text-align: center;
                animation: transform 1s ease-in-out; 
                cursor: pointer;
                &:hover{
                    transform: scale(1.15); 
                }
                &__personagens--foto{
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
    &__selecionado{
        margin-left: 2rem;
        img{
          display: block;
          image-rendering: optimizeQuality;
          height: 90%;
          margin: 0 auto;
        }
    }
}